<a href="https://colab.research.google.com/github/mannmoshe/text-recognition/blob/main/true_text_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import random

In [2]:
req = requests.get("https://raw.githubusercontent.com/mannmoshe/text-recognition/main/torah_heb.txt")
req.encoding = 'ISO-8859-8'
torah_text = req.text

In [3]:
torah_words = torah_text.split()

In [4]:
phrases = {}
for i in range(0, int(len(torah_words)), 3):
  phrase = ''.join(torah_words[i: i+3])
  phrases[phrase] = 1 # true text
  phrase_letters_list = [l for l in phrase]
  random.Random(4).shuffle(phrase_letters_list) 
  # Random(4) for same result every time, see https://stackoverflow.com/questions/19306976/python-shuffling-with-a-parameter-to-get-the-same-result
  phrases[''.join(phrase_letters_list)] = 0 # random text

In [5]:
phrases_dataset = pd.DataFrame.from_dict(phrases, orient='index').reset_index()

In [6]:
phrases_dataset.columns = ['text', 'label']

In [27]:
phrases_dataset.shape

(48974, 2)

In [7]:
phrases_dataset.head(10)

             text  label
0  בראשיתבראאלהים      1
1  איתאםלבהארבריש      0
2      אתהשמיםואת      1
3      אהאוםתיתמש      0
4   הארץוהארץהיתה      1
5   תיץההההרראאוץ      0
6     תהוובהווחשך      1
7     והושתחךוהבו      0
8       עלפניתהום      1
9       לפהוםתעינ      0

In [8]:
X = phrases_dataset['text']
y = phrases_dataset['label']

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=4, stratify=y)

In [26]:
len(x_train)

32812

In [28]:
len(x_test)

16162

In [29]:
len(x_train) + len(x_test)

48974

In [10]:
train_samples = x_train.tolist()
test_samples = x_test.tolist()

In [11]:
import numpy as np
from keras.preprocessing.text import Tokenizer

In [17]:
# We create a tokenizer, configured to only take
# into account the top-10000 most common words
#tokenizer = Tokenizer(num_words=10000, char_level=True) # char_level = True --> token by letters
tokenizer = Tokenizer(char_level=True) # char_level = True --> token by letters
# This builds the word index
tokenizer.fit_on_texts(train_samples)

# This turns strings into lists of integer indices.
train_sequences = tokenizer.texts_to_sequences(train_samples)
test_sequences = tokenizer.texts_to_sequences(test_samples)

# You could also directly get the one-hot binary representations.
# Note that other vectorization modes than one-hot encoding are supported!
x_train = tokenizer.texts_to_matrix(train_samples, mode='binary')
x_test = tokenizer.texts_to_matrix(test_samples, mode='binary')

# This is how you can recover the word index that was computed
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 27 unique tokens.

In [18]:
x_train

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [25]:
x_train.shape

(32812, 28)

In [19]:
len(x_train[0])

28

In [22]:
train_samples[0]

'ישחםתמאשותיחמ'

In [21]:
x_train[0]

array([0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [20]:
sum(x_train[0])

8.0

In [32]:
word_index

{'י': 1,
 'ו': 2,
 'ה': 3,
 'א': 4,
 'ל': 5,
 'ת': 6,
 'ר': 7,
 'ב': 8,
 'ש': 9,
 'מ': 10,
 'ע': 11,
 'ם': 12,
 'נ': 13,
 'כ': 14,
 'ח': 15,
 'ד': 16,
 'ק': 17,
 'ן': 18,
 'פ': 19,
 'ך': 20,
 'צ': 21,
 'ז': 22,
 'ג': 23,
 'ס': 24,
 'ט': 25,
 'ץ': 26,
 'ף': 27}

In [33]:
lens = [len(s) for s in train_sequences]
lens[:20]

[13, 9, 11, 9, 10, 11, 15, 13, 13, 14, 12, 10, 14, 14, 10, 13, 11, 8, 11, 10]

In [34]:
sum(lens)/len(lens)

11.49652566134341

In [35]:
train_sequences[:10]

[[1, 9, 15, 12, 6, 10, 4, 9, 2, 6, 1, 15, 10],
 [1, 3, 1, 3, 8, 2, 10, 2, 12],
 [7, 3, 9, 1, 22, 17, 12, 10, 14, 7, 9],
 [12, 14, 5, 2, 3, 6, 4, 27, 24],
 [17, 8, 7, 2, 4, 6, 4, 8, 1, 2],
 [8, 10, 24, 19, 7, 9, 10, 6, 10, 8, 18],
 [6, 9, 10, 11, 2, 18, 4, 6, 3, 10, 9, 19, 25, 1, 12],
 [4, 7, 3, 2, 15, 2, 10, 7, 17, 2, 4, 7, 26],
 [9, 5, 1, 7, 20, 14, 4, 1, 19, 2, 8, 5, 10],
 [3, 8, 10, 10, 2, 2, 8, 9, 4, 15, 5, 7, 12, 6]]

In [36]:
max_len = 12
x_train_embedding = []

for s in train_sequences:
  if len(s) >= 12:
    x_train_embedding.append(s[:12])
  else:
    x_train_embedding.append(s + [0]*(max_len-len(s)))

x_train_embedding = np.array(x_train_embedding)

In [37]:
x_test_embedding = []

for s in test_sequences:
  if len(s) >= 12:
    x_test_embedding.append(s[:12])
  else:
    x_test_embedding.append(s + [0]*(max_len-len(s)))

x_test_embedding = np.array(x_test_embedding)

In [38]:
y_train = y_train.to_numpy()

In [39]:
y_train

array([0, 1, 0, ..., 0, 0, 0])

In [40]:
x_train_embedding

array([[ 1,  9, 15, ...,  6,  1, 15],
       [ 1,  3,  1, ...,  0,  0,  0],
       [ 7,  3,  9, ...,  7,  9,  0],
       ...,
       [ 1,  8,  5, ..., 14,  0,  0],
       [10,  1,  9, ..., 13,  8,  0],
       [ 7,  3,  4, ..., 13,  0,  0]])

In [41]:
from keras.models import Sequential
from keras.layers import Embedding
from keras.layers import SimpleRNN, Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [42]:
model = Sequential()
model.add(Embedding(10000, 8, input_length=max_len))
model.add(LSTM(64))
model.compile(optimizer='rmsprop',
              loss="binary_crossentropy",
              metrics=["accuracy"])
model.add(Dense(1, activation="sigmoid"))
model.summary()

history = model.fit(x_train_embedding, 
                    y_train,
                    epochs=50,
                    batch_size=64,
                    validation_split=0.33)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 12, 8)             80000

 lstm (LSTM)                 (None, 64)                18688

 dense (Dense)               (None, 1)                 65

=================================================================
Total params: 98,753
Trainable params: 98,753
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50
344/344 [==============================] - 7s 14ms/step - loss: 0.6568 - accuracy: 0.5888 - val_loss: 0.6253 - val_accuracy: 0.6354
Epoch 2/50
344/344 [==============================] - 4s 12ms/step - loss: 0.6215 - accuracy: 0.6392 - val_loss: 0.6195 - val_accuracy: 0.6421
Epoch 3/50
344/344 [==============================] - 4s 12ms/step - loss: 0.6134 - accuracy: 0.6527 - val_loss: 0.6126 - val_accuracy: 0.6551
Epoch 4/50
344/344 [==============================] - 4s 12ms/step - loss: 0.6083 - accuracy: 0.6629 - val_loss: 0.6078 - val_accuracy: 0.6610
Epoch 5/50
344/344 [==============================] - 3s 10ms/step - loss: 0.6031 - accuracy: 0.6674 - val_loss: 0.6075 - val_accuracy: 0.6656
Epoch 6/50
344/344 [==============================] - 4s 12ms/step - loss: 0.5937 - accuracy: 0.6762 - val_loss: 0.6063 - val_accuracy: 0.6617
Epoch 7/50
344/344 [==============================] - 4s 11ms/step - loss: 0.5882 - accuracy: 0.6768 - val_loss: 0.5919 - val_accuracy: 0.6726
Epoch 8/50
344/344 [==============================] - 4s 11ms/step - loss: 0.5822 - accuracy: 0.6828 - val_loss: 0.5890 - val_accuracy: 0.6793
Epoch 9/50
344/344 [==============================] - 3s 10ms/step - loss: 0.5761 - accuracy: 0.6877 - val_loss: 0.5855 - val_accuracy: 0.6811
Epoch 10/50
344/344 [==============================] - 4s 11ms/step - loss: 0.5666 - accuracy: 0.7011 - val_loss: 0.5806 - val_accuracy: 0.6863
Epoch 11/50
344/344 [==============================] - 3s 10ms/step - loss: 0.5521 - accuracy: 0.7137 - val_loss: 0.5501 - val_accuracy: 0.7132
Epoch 12/50
344/344 [==============================] - 3s 10ms/step - loss: 0.5365 - accuracy: 0.7257 - val_loss: 0.5349 - val_accuracy: 0.7240
Epoch 13/50
344/344 [==============================] - 3s 10ms/step - loss: 0.5214 - accuracy: 0.7345 - val_loss: 0.5434 - val_accuracy: 0.7182
Epoch 14/50
344/344 [==============================] - 4s 10ms/step - loss: 0.5109 - accuracy: 0.7420 - val_loss: 0.5163 - val_accuracy: 0.7349
Epoch 15/50
344/344 [==============================] - 3s 10ms/step - loss: 0.5011 - accuracy: 0.7483 - val_loss: 0.5113 - val_accuracy: 0.7441
Epoch 16/50
344/344 [==============================] - 4s 13ms/step - loss: 0.4914 - accuracy: 0.7571 - val_loss: 0.4908 - val_accuracy: 0.7541
Epoch 17/50
344/344 [==============================] - 3s 10ms/step - loss: 0.4800 - accuracy: 0.7668 - val_loss: 0.5136 - val_accuracy: 0.7426
Epoch 18/50
344/344 [==============================] - 4s 11ms/step - loss: 0.4726 - accuracy: 0.7704 - val_loss: 0.4950 - val_accuracy: 0.7517
Epoch 19/50
344/344 [==============================] - 3s 10ms/step - loss: 0.4665 - accuracy: 0.7714 - val_loss: 0.4674 - val_accuracy: 0.7706
Epoch 20/50
344/344 [==============================] - 4s 11ms/step - loss: 0.4594 - accuracy: 0.7764 - val_loss: 0.4755 - val_accuracy: 0.7677
Epoch 21/50
344/344 [==============================] - 3s 10ms/step - loss: 0.4527 - accuracy: 0.7811 - val_loss: 0.4706 - val_accuracy: 0.7654
Epoch 22/50
344/344 [==============================] - 3s 10ms/step - loss: 0.4487 - accuracy: 0.7834 - val_loss: 0.4720 - val_accuracy: 0.7687
Epoch 23/50
344/344 [==============================] - 3s 10ms/step - loss: 0.4431 - accuracy: 0.7868 - val_loss: 0.4535 - val_accuracy: 0.7796
Epoch 24/50
344/344 [==============================] - 4s 10ms/step - loss: 0.4371 - accuracy: 0.7898 - val_loss: 0.4431 - val_accuracy: 0.7842
Epoch 25/50
344/344 [==============================] - 4s 11ms/step - loss: 0.4312 - accuracy: 0.7952 - val_loss: 0.4435 - val_accuracy: 0.7842
Epoch 26/50
344/344 [==============================] - 4s 10ms/step - loss: 0.4248 - accuracy: 0.7979 - val_loss: 0.4453 - val_accuracy: 0.7867
Epoch 27/50
344/344 [==============================] - 4s 12ms/step - loss: 0.4179 - accuracy: 0.8019 - val_loss: 0.4320 - val_accuracy: 0.7958
Epoch 28/50
344/344 [==============================] - 3s 10ms/step - loss: 0.4105 - accuracy: 0.8074 - val_loss: 0.4294 - val_accuracy: 0.7964
Epoch 29/50
344/344 [==============================] - 4s 10ms/step - loss: 0.4045 - accuracy: 0.8115 - val_loss: 0.4158 - val_accuracy: 0.8034
Epoch 30/50
344/344 [==============================] - 4s 12ms/step - loss: 0.3958 - accuracy: 0.8154 - val_loss: 0.4132 - val_accuracy: 0.8041
Epoch 31/50
344/344 [==============================] - 4s 11ms/step - loss: 0.3890 - accuracy: 0.8181 - val_loss: 0.4346 - val_accuracy: 0.7953
Epoch 32/50
344/344 [==============================] - 4s 13ms/step - loss: 0.3802 - accuracy: 0.8240 - val_loss: 0.4069 - val_accuracy: 0.8098
Epoch 33/50
344/344 [==============================] - 4s 12ms/step - loss: 0.3749 - accuracy: 0.8266 - val_loss: 0.3941 - val_accuracy: 0.8174
Epoch 34/50
344/344 [==============================] - 4s 10ms/step - loss: 0.3675 - accuracy: 0.8334 - val_loss: 0.3981 - val_accuracy: 0.8207
Epoch 35/50
344/344 [==============================] - 3s 10ms/step - loss: 0.3598 - accuracy: 0.8377 - val_loss: 0.3903 - val_accuracy: 0.8248
Epoch 36/50
344/344 [==============================] - 3s 10ms/step - loss: 0.3544 - accuracy: 0.8421 - val_loss: 0.3802 - val_accuracy: 0.8298
Epoch 37/50
344/344 [==============================] - 4s 11ms/step - loss: 0.3456 - accuracy: 0.8458 - val_loss: 0.3931 - val_accuracy: 0.8227
Epoch 38/50
344/344 [==============================] - 3s 9ms/step - loss: 0.3381 - accuracy: 0.8490 - val_loss: 0.3784 - val_accuracy: 0.8285
Epoch 39/50
344/344 [==============================] - 3s 10ms/step - loss: 0.3310 - accuracy: 0.8536 - val_loss: 0.3739 - val_accuracy: 0.8354
Epoch 40/50
344/344 [==============================] - 3s 10ms/step - loss: 0.3218 - accuracy: 0.8567 - val_loss: 0.3777 - val_accuracy: 0.8340
Epoch 41/50
344/344 [==============================] - 3s 10ms/step - loss: 0.3165 - accuracy: 0.8604 - val_loss: 0.3731 - val_accuracy: 0.8314
Epoch 42/50
344/344 [==============================] - 4s 11ms/step - loss: 0.3089 - accuracy: 0.8624 - val_loss: 0.3728 - val_accuracy: 0.8368
Epoch 43/50
344/344 [==============================] - 3s 10ms/step - loss: 0.3022 - accuracy: 0.8680 - val_loss: 0.3548 - val_accuracy: 0.8429
Epoch 44/50
344/344 [==============================] - 4s 10ms/step - loss: 0.2938 - accuracy: 0.8727 - val_loss: 0.3722 - val_accuracy: 0.8399
Epoch 45/50
344/344 [==============================] - 4s 12ms/step - loss: 0.2876 - accuracy: 0.8747 - val_loss: 0.3615 - val_accuracy: 0.8432
Epoch 46/50
344/344 [==============================] - 4s 10ms/step - loss: 0.2817 - accuracy: 0.8778 - val_loss: 0.3574 - val_accuracy: 0.8438
Epoch 47/50
344/344 [==============================] - 4s 13ms/step - loss: 0.2759 - accuracy: 0.8791 - val_loss: 0.3533 - val_accuracy: 0.8475
Epoch 48/50
344/344 [==============================] - 4s 13ms/step - loss: 0.2659 - accuracy: 0.8862 - val_loss: 0.3962 - val_accuracy: 0.8270
Epoch 49/50
344/344 [==============================] - 5s 14ms/step - loss: 0.2613 - accuracy: 0.8890 - val_loss: 0.3553 - val_accuracy: 0.8468
Epoch 50/50
344/344 [==============================] - 3s 10ms/step - loss: 0.2556 - accuracy: 0.8909 - val_loss: 0.4011 - val_accuracy: 0.8332

In [43]:
x_train[0]

array([0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [44]:
predicted_labels = model.predict(x_test_embedding)

506/506 [==============================] - 2s 3ms/step

In [45]:
print(type(predicted_labels),type(y_test))

<class 'numpy.ndarray'> <class 'pandas.core.series.Series'>

In [46]:
predicted_labels

array([[0.999386  ],
       [0.8073914 ],
       [0.9961702 ],
       ...,
       [0.9842679 ],
       [0.02593355],
       [0.9952114 ]], dtype=float32)

In [47]:
my_list = map(lambda x: x[0], predicted_labels)
predictions = pd.Series(my_list)

In [48]:
len(predictions)

16162

In [49]:
len(y_test)

16162

In [50]:
predictions

0        0.999386
1        0.807391
2        0.996170
3        0.997528
4        0.957968
           ...
16157    0.479061
16158    0.048900
16159    0.984268
16160    0.025934
16161    0.995211
Length: 16162, dtype: float32

In [51]:
y_test_ri = y_test.reset_index()

In [52]:
y_test_ri

       index  label
0      15542      1
1      14953      0
2      20832      1
3      20498      1
4       1782      1
...      ...    ...
16157  26075      0
16158  27721      0
16159  36666      1
16160  41767      0
16161  12782      1

[16162 rows x 2 columns]

In [53]:
pd.concat([predictions, y_test_ri], axis=1)

              0  index  label
0      0.999386  15542      1
1      0.807391  14953      0
2      0.996170  20832      1
3      0.997528  20498      1
4      0.957968   1782      1
...         ...    ...    ...
16157  0.479061  26075      0
16158  0.048900  27721      0
16159  0.984268  36666      1
16160  0.025934  41767      0
16161  0.995211  12782      1

[16162 rows x 3 columns]

In [54]:
x_train_orig, x_test_orig, y_train_orig, y_test_orig = train_test_split(X, y, test_size=0.33, random_state=4, stratify=y)

In [55]:
x_test_orig

15542      מאדםועדבהמה
14953       דךמיהךטטנו
20832      ואכלואתםאשר
20498    ומשחתאתםומלאת
1782        עשבנתתילכם
             ...
26075    הנמוגיותלבאחה
27721      ישחתעאולללו
36666      הארץכיידעתי
41767     רתושוואיתאצמ
12782       מזקןלאיוכל
Name: text, Length: 16162, dtype: object

In [56]:
pd.concat([x_test_orig, y_test], axis=1)

                text  label
15542    מאדםועדבהמה      1
14953     דךמיהךטטנו      0
20832    ואכלואתםאשר      1
20498  ומשחתאתםומלאת      1
1782      עשבנתתילכם      1
...              ...    ...
26075  הנמוגיותלבאחה      0
27721    ישחתעאולללו      0
36666    הארץכיידעתי      1
41767   רתושוואיתאצמ      0
12782     מזקןלאיוכל      1

[16162 rows x 2 columns]

In [58]:
[l for l in 'ויאמריהוהאלמשה']

['ו', 'י', 'א', 'מ', 'ר', 'י', 'ה', 'ו', 'ה', 'א', 'ל', 'מ', 'ש', 'ה']

In [59]:
[word_index[l] for l in 'ויאמריהוהאלמשה']

[2, 1, 4, 10, 7, 1, 3, 2, 3, 4, 5, 10, 9, 3]

In [66]:
string = 'ויאמריהוהאלמשה'

In [67]:
predict_me = [[word_index[l] for l in string]]

In [68]:
model.predict(predict_me)

1/1 [==============================] - 0s 28ms/step

array([[0.9947397]], dtype=float32)